<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <a class="navbar-brand" href="#">The Tech Blogger</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>
<div class="card mx-auto mt-4" style="width:800px;border: 1px solid black;" id="cards">
    <div class="card-header" style="text-align: center;background-color:gray;">
        <h3>Create Account</h3>
    </div>
    <div class="card-body mx-auto ">
        <p class="card-text ">
        <h5>Username:</h5>
        </p>
        <input type="text" class="d-flex mb-2" placeholder=" Enter Username" id="">
        <p class="card-text">
        <h5>Email:</h5>
        </p>
        <input type="text" class="d-flex mb-2" placeholder=" Enter Email" id="">
        <p class="card-text">
        <h5>Password:</h5>
        </p>
        <input type="text" class="d-flex mb-2" placeholder=" Enter Password" id="">
        <a href="#" class="btn btn-primary">Create Account</a>
    </div>
    <footer class="page-footer font-small badge-dark fixed-bottom">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="#"> thetechblogger.com</a>
        </div>
    </footer>
</div>