<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <a class="navbar-brand" href="#">The Tech Blogger</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>
<div class="card mx-auto mt-4" style="width:800px; border: 1px solid black;" id="cards">
    <div class="card-header" style="text-align: center; background-color:gray;">
        <h3>Login</h3>
    </div>
    <div class="card-body mx-auto">
        <p class="card-text">
        <h5>Email:</h5>
        </p>
        <input type="text" class="d-flex mb-2" placeholder=" Enter Email" id="">
        <p class="card-text">
        <h5>Password:</h5>
        </p>
        <input type="text" class="d-flex mb-2" placeholder=" Enter Password" id="">
        <button href="#" class="btn btn-primary">Login</button>
    </div>
</div>
<div class="mx-auto mt-4" style="width: 300px; text-align: center;">
    <h2 style="color:white;">Current Posts</h2>
</div>
<div class="card mx-auto mt-4" style="width:800px; border: 1px solid black;" id="cards">
    <div class="card-header d-flex justify-content-between" style="background-color:gray;">
        <h5>Post Title</h5>
        <h5 style="float: right;">Posted by user on 04/01/2021</h5>
    </div>
    <div class="card-body">
        <p class="card-text">Post information</p>
    </div>
    <div class="card-body">
        <h5 class="card-text">Comments:</h5>
        <p class="card-text">Comment information</p>
    </div>

</div>
<footer class="page-footer font-small badge-dark pt-4 fixed-bottom">
    <div class="container">
        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <h5 class="mb-1">Register for free</h5>
            </li>
            <li class="list-inline-item">
                <button href="#!" class="btn btn-outline-white btn-rounded btn-primary">Sign up!</button>
            </li>
        </ul>
    </div>
    <div class="footer-copyright text-center py-3 ">© 2021 Copyright:
        <a href="#"> thetechblogger.com</a>
    </div>
</footer>