* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

#body {
  background-image: url(../../assets/images/wooden-desk-flatly.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#navbar a {
  font-size: 30px;
}


