* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#content {
  padding-bottom: 100px;
  /* Height of the footer element */
}

#navbar a {
  font-size: 30px;
}
